.menu{
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    margin-right: 2em;
    margin-top: -0.5em;
    margin-bottom: 2em;
}

nav ul li{
list-style-type: none;
display: inline;
margin-left: 0.2em;
margin-right: 0.2em;
}

nav ul li a{
    text-decoration: none;
    color: rgb(49, 49, 49);
    font-family: "poppins", sans-serif;
    font-size: 1.6em;
}
nav ul li a:hover{
    color: rgb(255, 170, 139);
    
}